/* Color styles */
:root {
  // Grayscale
  --color-normal-0: hsla(0, 0%, 100%, 1);
  --color-normal-10: hsla(0, 0%, 98.4%, 1);
  --color-normal-20: hsla(0, 0%, 96.5%, 1);
  --color-normal-30: hsla(0, 0%, 92.9%, 1);
  --color-normal-40: hsla(0, 0%, 88.6%, 1);
  --color-normal-50: hsla(0, 0%, 78.4%, 1);
  --color-normal-60: hsla(0, 0%, 72.9%, 1);
  --color-normal-70: hsla(0, 0%, 68.6%, 1);
  --color-normal-80: hsla(0, 0%, 63.5%, 1);
  --color-normal-90: hsla(0, 0%, 58%, 1);
  --color-normal-100: hsla(0, 0%, 52.9%, 1);
  --color-normal-200: hsla(0, 0%, 47.8%, 1);
  --color-normal-300: hsla(0, 0%, 42.4%, 1);
  --color-normal-400: hsla(0, 0%, 38%, 1);
  --color-normal-500: hsla(0, 0%, 32.9%, 1);
  --color-normal-600: hsla(0, 0%, 28.6%, 1);
  --color-normal-700: hsla(0, 0%, 22.4%, 1);
  --color-normal-800: hsla(0, 0%, 17.3%, 1);
  --color-normal-900: hsla(0, 0%, 12.9%, 1);

  // Blue
  --color-blue-dark: hsla(209, 42.9%, 49.4%, 1);
  --color-blue-dark-hover: hsla(209, 42.6%, 39.6%, 1);
  --color-blue-dark-active: hsla(209, 43%, 29.6%, 1);
  --color-blue-darker: hsla(209, 42.4%, 23.1%, 1);
  --color-blue-light: hsla(208, 88.2%, 96.7%, 1);
  --color-blue-light-hover: hsla(210, 84.6%, 94.9%, 1);
  --color-blue-light-active: hsla(209, 81.5%, 89.4%, 1);
  --color-blue: hsla(209, 82.8%, 65.9%, 1);
  --color-blue-hover: hsla(209, 62.5%, 59.2%, 1);
  --color-blue-active: hsla(209, 47.7%, 52.7%, 1);

  // Red
  --color-red-dark: hsla(0, 34.7%, 53.1%, 1);
  --color-red-dark-hover: hsla(0, 30.9%, 42.5%, 1);
  --color-red-dark-active: hsla(0, 30.9%, 31.8%, 1);
  --color-red-darker: hsla(0, 30.7%, 24.9%, 1);
  --color-red: hsla(0, 74.5%, 70.8%, 1);
  --color-red-hover: hsla(0, 53.5%, 63.7%, 1);
  --color-red-active: hsla(0, 40.3%, 56.7%, 1);
  --color-red-light: hsla(0, 73.3%, 97.1%, 1);
  --color-red-light-hover: hsla(0, 72.7%, 95.7%, 1);
  --color-red-light-active: hsla(0, 73.9%, 91%, 1);
}
