@import "style/colors";
@import "style/fonts";

:root {
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // Font sizes
  --fz-header-1: 32px;
  --fz-header-2: 24px;
  --fz-header-3: 20px;
  --fz-normal: 16px;
  --fz-small: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: var(--fz-normal);
  color: var(--color-normal-800);
  background: var(--color-normal-0);
  line-height: 125%;
  letter-spacing: 0.05em;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  font-family: Jost, Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
